/* 
Homework 1 - HTML/CSS
*/

body {
	margin: 0;
	background-color: #777;
	color: #777;
	font-family: 'Arial', "helvetica Neue", helvetica, sans-serif;
	font-size: 18px;
}

header, nav, aside, footer {
	background-color: #ebebeb;
	text-align: center;
	padding: 20px;
}

.clear {
	clear: both;
}

#wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

header {
	margin: 10px 0;
}

nav {
	margin: 10px 0 20px 0;
}

#content {
	display: flex;
}

section {
	float: left;
	min-width: 495px;
	background-color: #ebebeb;
	text-align: center;
	padding: 10px;
}

article {
	background-color: #777;
	color: #ebebeb;
	padding: 5px 10px 10px 10px;
	text-align: center;
}

article div {
	background-color: #ebebeb;
	color: #777;
	padding: 10px 0;
	margin: 10px;
}

aside {
	margin-left: 20px;
	width: 100%;
}

footer {
	clear: both;
	margin-top: 20px;
}